a{
    color: rgb(0,113,133);
    font-size: 20px;
    transition: color 0.15s;
}
a:hover{
    color: rgb(219, 3, 3);
}
.nike{
    color: black;
    font-weight: bold;
    font-size: 33px;
}
.stock{
    color: rgb(0,118,0);
    font-weight: bold;
    font-size: 20px;
}
.free{
    color: black;
    font-size: 20px;
}
.am{
    background-color: rgb(255, 216, 20);
    color: black;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.am:hover{
    background-color: rgb(247, 210, 24);
}
.am:active{
    opacity: 0.5;
}
.buy{
    background-color: rgb(255, 164, 28);
    color: black;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.15;
}
.buy:hover{
    background-color: rgb(218, 140, 22);
}
.buy:active{
    opacity: 0.5;
}