p{
    margin-top: 0;
    margin-bottom: 0;
}
.thoma{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.ari{
    font-family: arial;
}
.big{
    font-size: 20px;
    margin-bottom: 3px;
}
.sales{
    font-size: 14px;
    font-style: italic;
    color: rgb(208, 0, 0);
    margin-bottom: 40px;
}

.ver{
    font-family: Verdana;
}
.html{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}
.beg{
    color: rgb(100, 100, 100);
    /* font-size: 14px; */
    margin-bottom: 18px;
}
.in{
    /* font-size: 14px; */
    width: 300px;
    line-height: 22px;
    margin-bottom: 18px;
}
.button {
background-color: green;
color: white;
border: none;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
border-radius: 6px;
cursor: pointer;
margin-bottom: 40px;
}

.arl{
font-family: Arial;
text-align: center;
}
.shop{
font-weight: bold;
font-size: 28px;
margin-top: 20px;
margin-bottom: 20px;
}
.see{
/* font-size: 12px; */
/* text-align: center; */
/* margin-left: 50px; */
margin-bottom: 20px;
}
.learn{
color: rgb(58, 108, 199);
/* font-size: 12px; */
margin-bottom: 60px;
}

.arial{
font-family: Arial;
text-align: center;
/* line-height: 28px; */
}
.new{
color: rgb(245, 99, 0);
/* font-size: 12px; */
margin-bottom: 10px;
}
.mc{
font-weight: bold;
font-size: 24px;
margin-bottom: 5px;
}
.su{
font-weight: bold;
font-size: 45px;
margin-bottom: 15px;
}
.from{
margin-bottom: 25px;
/* font-size: 16px; */
}
.but{
background-color: rgb(0, 113, 227);
color: white;
border: none;
border-radius: 30px;
padding-top: 7px;
padding-bottom: 7px;
padding-left: 15px;
padding-right: 15px;
font-weight: bold;
cursor: pointer;
}